.linkMenu {
    display: block;
    padding: .5em;
    color: black;
}

.linkMenu:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.logo {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #e7e7e7;
    padding: 10px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.menuOpen {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.btnButton {
    display: none;
} 
 
@media (max-width: 300px) {
    .menu {
        display: none;
    }

    .menuOpen {
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background-color: #e7e7e7;
        height: calc(100vh - 70px);
        z-index: 1000;
    }

    .btnButton {
        display: block;
        border-top: 2px solid;
        width: 20px;
    }

    .btnButton::after, .btnButton::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
    }
}
