:root {
    --white-background: #f2e2f2; 
    --black-150: rgba(0, 0, 0, 0.15);
    --purple-bolder: #2b0b54;
    --purple-bold: #41066f;
    --purple-normal: #5c168d;
    --purple-lighter: #9d55cd;
}

body {
    background-color: var(--white-background);
}

main {
    width: max-content;
    margin: 0 auto;
    padding: 25px 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

div#message-error {
    display: flex;
    padding: 8px 20px;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, .2);
    border-radius: 3px;
}

div#message-error p {
    width: 150px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 300px;
}

form input {
    border: 2px solid var(--black-150);
    border-radius: 5px;
    padding: 11px;
    font-size: 14px;
    transition: 0.5s all;
    width: 100%;
}

form .password-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

form .password-link small {
    margin: 3px 5px 0 0;
}

form input:hover {
    border: 2px solid var(--purple-lighter);
}

form button {
    border-radius: 5px;
    background-color: var(--purple-bold);
    font-weight: bold;
    color: white;
    padding: 7px 0;
    cursor: pointer;
    margin-top: .5em;
    transition: .2s all ease-in;
} 

form button:hover {
    background-color: var(--purple-normal);
}
