:root {
    --white-background: #f2e2f2; 
    --border-input-black-150: rgba(0, 0, 0, 0.15);
    --border-small-black-300: rgba(0, 0, 0, 0.3);
    --font-message-error: rgb(255, 0, 0);
    --background-message-error: rgba(255, 0, 0, .2);
    /* --purple-bolder: #2b0b54; Cor não utilizada ainda */ 
    --purple-bold: #41066f;
    --purple-normal: #5c168d;
    --purple-lighter: #9d55cd;
}

body {
    background-color: var(--white-background);
}

main {
    width: max-content;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;   
}

/* consertar as cores */
main div#message-error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 0.5em;
    color: var(--font-message-error);
    background-color: var(--background-message-error);
    border-radius: 3px;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 300px;
}

form input {
    border: 2px solid var(--border-input-black-150);
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    transition: 0.3s all ease-in;
    width: 100%;
}

form input:hover {
    border: 2px solid var(--purple-lighter);
}

form div#inputPassword-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

form div#inputPassword-link small {
    margin: 3px 5px 0 0;
}

form button {
    font-size: 14px;
    border-radius: 5px;
    background-color: var(--purple-bold);
    font-weight: bold;
    color: white;
    padding: 8px 0;
    cursor: pointer;
    margin-top: .5em;
    transition: .3s all ease-in;
} 

form button:hover {
    background-color: var(--purple-normal);
}

main small#link-to-register  {
    padding: 10px 20px;
    border: 1px solid var(--border-small-black-300);
    border-radius: 3px;
    text-align: center;
}
