.section {
    height: 70vh;
    background-image: url("../img/revenda-de-produtos.png");
    background-position: center;
    background-repeat: no-repeat;
}

.section_div {
    width: 80%;
    margin: 100px auto 0 auto;
}

.section_title {
    font-size: 2em;
    color: rgba(0, 0, 0, 0.884);
}

.section_p {
    width: 50%;
    color: rgb(224, 223, 223);
    font-size: 20px;
    margin-top: 3px;
} 

.section_button {
    font-weight: bold;
    margin-top: 15px;
    background-color: rgb(104, 31, 173);
    color: white;
    padding: 7px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
} 
