.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    padding: 10px;
}

.ul {
    display: flex;
    list-style-type: none;
    gap: 2.5em;
}

.li {
    cursor: pointer;
}

.liDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}